{% extends "base.html" %}

{% load static %}
{% load cart_tags %}

{% block styles %}
<link rel="stylesheet" href={% static "cart/css/cart.css" %}>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="cart">
            {% for product in products %}
            <div class="item">
                <img class="product-img" src="{{ product.sushi.image.url }}" alt="product">
                <div class="price-amount">
                    <h3>{% get_price product.sushi product.amount %} руб.</h3>
                </div>
                <div style="display: grid;grid-template-columns: 50% 50%;grid-template-rows: 50% 50%;" class="prnm">
                    <h2>{{ product.amount }} шт.</h2>
                    <form style="grid-row-start: 1;grid-column-start:1">
                        <input type="hidden" name="delete" value="{{ product.id }}">
                        <button style="border: 1px solid black;border-radius: 10px;background-color:papayawhip">Delete</button>
                    </form>
                    <h2 style="grid-row-start: 2;grid-column:1/3" class="item-name">{{ product.sushi.name }}</h2>
                </div>
            </div>
            {% endfor %}     
        </div>
        <form class="order" method="post">
            <h2 class="attention">Внимание! Это пет проэкт, но никак не реальный продукт, поэтому не вводите собственные данные карточки. В номере карты пишите: 4242 4242 4242 4242, а остальное наугад</h2>
            <h3>Итого: {{ total_price }} руб.</h3>
            <input type="hidden" name="create-order" id="" value="create">
            <button class="order-btn">Оформить заказ</button>
        </form>
    </div>
</main>
{% endblock %}