{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "user/css/profile.css" %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="change-div">
        <form method="post" class="change-form">
            {% csrf_token %}
            {% comment %} <label for="last-name">Фамилия</label>
            <input type="text" name="last-name" id="last-name">
            <label for="first-name">Имя</label>
            <input type="text" name="first-name" id="first-name">
            <label for="patronymic">Отчество</label>
            <input type="text" name="patronymic" id="patronymic">
            <label for="address">Адрес</label>
            <input type="text" name="address" isd="address"> {% endcomment %}
            {% for input in form %}
            {{ input.label }}
            {{ input }}
            {% endfor %}
            <button class="change-sumbit">Поменять</button>
        </form>
    </div>
<main>
    <div class="container">
        <img class="avatar" src="{% static "user/images/testAvatar.png" %}" alt="Avatar">
        <div class="info">
            <h3 class="info-text">{{ user.profile.last_name }}</h3>
            <h3 class="info-text">{{ user.profile.first_name }}</h3>
            <h3 class="info-text">{{ user.profile.patronymic }}</h3>
            <h3 class="info-text">{{ user.profile.address|default:'...' }}</h3>
            <h3 class="info-text">{{ user.profile.phone|default:'...' }}</h3>
            <!-- Do button to change user information -->
            <button class="change-info">Изменить информацию</button>
        </div>
        <a class="go-to-cart" href="./cart.html">Перейти в корзину</a>
    </div>
</main>

<script src="{% static "user/js/change.js" %}"></script>
{% endblock %}