{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "main/css/about.css" %}">
{% endblock %}

{% block content %}
<main>
    <img class="img" src="{% static "main/images/sushist.png" %}" alt="">
    <div class="content">
        <h1>We are sushi</h1>
        <p>Мы - это компания по продаже суш. Готовим суши на любой вкус и цвет. С нами работают самые профессиональные шеф повара на протяжении 7 лет прямиком с Японии! Наша цель - сделать каждого посетителя нашего магазина довольным, сделать так, чтобы ему всё понравилось. Мы надеемся, что и вы станете счастливым посетителем нашего магазина. А если вам что - то не понравилось, вы всегда можете оставить отзыв суш/сета/набора, но только после того, как вы купили их хотябы один раз. Это сделано, чтобы конкуренты не ставили всем сушам по 1 звезде и не портили нашу компанию.</p>
        <h2>Любим вас, дорогой посетитель</h2>
    </div>
    <img class="img" src="{% static "main/images/sushist2.pn" %}g" alt="">
</main>
{% endblock %}