{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "main/css/product.css" %}">
{% endblock %}

{% block content %}
<main>
    {% comment %} FOR JAVASCRIPT {% endcomment %}
    <input type="hidden" class="get-url" value='{% url "order_make" %}'>
    <input type="hidden" class="get-token" value='{{ csrf_token }}'>
    {% comment %} HTML {% endcomment %}
    <div class="container">
        <div class="product-header">
            <div class="header-top">
                <img class="product-img" src="{{ product.image.url }}" alt="Product">
                <img class="product-rank" src="{% static "ranks/star-rate-" %}{{ product.rate }}.png" alt="Rank">
                <h2 class="price">{{ product.price }}руб.</h2>
                <div class="amount">
                    <button class="minus">-</button>
                    <p class="num">1</p>
                    <button class="add-to-cart">Добавить</button>
                    <button class="plus">+</button>
                </div>
            </div>
            <h1 class="product-name">{{ product.name }}</h1>
        </div>
        <div class="description">
            <p class="product-description">{{ product.description }}</p>
        </div>
        <div class="views">
            <form class="comment-form">
                <label class="label" for="comment">Напишите ваш отзыв</label>
                <input type="text" name="comment" id="comment" value="Суши огонь">
                <label class="rate" for="rate">Рейтинг</label>
                <div class="rates">
                    <div class="rate-item">
                        <label for="rate-1">1</label>
                        <input type="radio" name="rate" id="rate rate-1" value="1">
                    </div>
                    <div class="rate-item">
                        <label for="rate-2">2</label>
                        <input type="radio" name="rate" id="rate rate-2" value="2">
                    </div>
                    <div class="rate-item">
                        <label for="rate-3">3</label>
                        <input type="radio" name="rate" id="rate rate-3" value="3">
                    </div>
                    <div class="rate-item">
                        <label for="rate-4">4</label>
                        <input type="radio" checked name="rate" id="rate rate-4" value="4">
                    </div>
                    <div class="rate-item">
                        <label for="rate-5">5</label>
                        <input type="radio" name="rate" id="rate rate-5" value="5">
                    </div>
                </div>
                <button class="btn">Отправить</button>
            </form>
            <button class="comment-read">Читать отзывы</button>
            <div class="user-views none">
                <div class="view">
                    <h3>Капибарик1234567</h3>
                    <img src="{% static "ranks/star-rate-1.png" %}" alt="rank">
                    <p>Суши вообще отстой, причём тут капибары?</p>
                </div>
                <div class="pagination">
                    <a class="disabled" href="#"><</a>
                    <a class="current" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">></a>
                </div>
            </div>
        </div>
    </div>
</main>

<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
<script src="{% static "main/js/open-views.js" %}"></script>

<script>
    const minus = document.querySelector('.minus')
const plus = document.querySelector('.plus')
const amount = document.querySelector('.num')
const priceOrigin = parseInt(document.querySelector('.price').innerText.split('р')[0])
const price = document.querySelector('.price')
const bttn = document.querySelector('.add-to-cart')

window.addEventListener('click', function(event) {
    if (event.target === minus && parseInt(amount.innerText) > 1) {
        --amount.innerText
    } else if (event.target === plus && parseInt(amount.innerText) < 999) {
        ++amount.innerText
    } else if (event.target === bttn) {
        const name = document.querySelector('.product-name')
        const description = document.querySelector('.product-description')
        
        $.ajax({
            url: '{% url "order_make" %}',
            type: 'POST',
            data: {
                'sushiName': name.innerText,
                'sushiDescription': description.innerText, 
                'amount': amount.innerText,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function() {
                console.log('SUCCESS')
            },
            error: function() {
                console.log("ERROR")
                console.log('{% url "order_make" %}')
            }
        })

        amount.innerText = 1
    }

    price.innerText = priceOrigin * parseInt(amount.innerText) + 'руб.'
})
</script>
{% endblock %}